@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');


.titulos {
    color: rgb(33, 30, 30);
    background-color: rebeccapurple;
    text-align: center;
    width: 80%;
    border-radius: 40%;

}

.navegacion ul li {
    color: black;
    margin: 5px 100px 5px 100px;
    padding: 5px;
    background-color: rgb(25, 25, 25);
    border-radius: 45%;
    width: 50%;
    text-align: center;



}

@media(max-width:5px) {
    .navegacion ul li {
        width: 90%;
    }
}

.hipervinculo h4 {
    color: coral;
    background-color: rebeccapurple;
    size: 19px;
}


.contenido ul h4 {
    margin: 20px;
    padding: 50px;
    border-radius: 50%;
    color: wheat;
    font-size: 20px;
    background-color: grey;
    text-align: center;
    width: 34%;
    text-shadow: 10px 10px 2px rgba(0, 0, 0, 1);
}



.contenido ul p {
    padding: 5px;
    border-radius: 10px;
    color: wheat;
    size: 10px;
    text-align: justify;
    width: 60%;
    background-color: rgb(73, 67, 67);
}

@media(max-width:700px) {
    .contenido ul p {
        width: 90%;
    }
}

#logo {
    background-image: linear-gradient(to bottom, rgb(40, 22, 62), rgb(50, 11, 61));
    /* Gradiente de rojo a negro */
    width: 70%;
    /* Ancho de la imagen */
    margin: 2.5% auto;
    /* Centrado con margen superior e inferior */
    border-radius: 38%;
    /* Bordes redondeados */
    opacity: 0.8;
    /* Opacidad al 80% */
}

body {
    background-color: rgb(40, 22, 62);
    color: white;
    font-family: "sans-serif";
}

.fotos {
    width: 70%;
    margin: 25px;
}

.cuadros {
    margin: 10%;
    width: 20%px;
}

.imagenesbuscado {
    min-height: 20%;
    width: 40%;
}


.nondisplay {
    display: none;
}

.camposallenar li {
    margin-bottom: 0.1em;
}

.camposallenar input {
    margin: 3px 20px 15px 20px;
    padding: 5px;
    background-color: rgb(223, 155, 155);
    width: 53%;
    text-align: left;
    color: black;
    font-size: 15px;
}

.selectorgenero {
    margin: 3px 20px 15px 20px;
    padding: 5px;
    background-color: rgb(223, 155, 155);
    width: 54%;
    color: black;
    font-size: 15px;
}

.selectorgenero option {
    background-color: rgb(250, 250, 250);
    color: black;
    font-size: 15px;
}

.mensaje {
    display: none;
    color: red;
}

.okey {
    display: none;
    color: green;
}


/* foto de cara */
.fotopersona {
    width: 30%;
}